#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "ticker"
name = "Ticker"
description.en = "Communication tool with social media and messenger connections for publishing news and images"
description.fr = "Outil de communication avec connexions aux réseaux sociaux et aux messageries instantanées pour la publication d'actualités et d'images"

version = "3.0.1~ynh1"

maintainers = ["eric_G"]

[upstream]
license = " GPL-3.0"
website = "https://www.systemli.org/en/service/ticker/"
demo = "https://demo.example.com"
code = "https://github.com/systemli/ticker"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/systemli/ticker/archive/refs/tags/3.0.1.tar.gz"
    sha256 = "e40d62bb2198e2a7f3655cb6efe3aabf4993a47a52df9de7cb8126191948b84b"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = "postgresql"

    [resources.database]
    type = "postgresql"

    [resources.go]
    version = "1.22"
